venv/
backend/venv/
__pycache__/
*.pyc
.vscode/
~$*.xlsx
.DS_Store
Thumbs.db


# Backend - Generated Content
backend/artifacts_storage/
backend/pytest_tests/
backend/report.json
backend/index.html
*.log
backend/upload_error.log
backend/backend.log
backend/backend_debug.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

